/* GENERAL RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* UTITIES */
.p-10 {
    padding: 10px;
}

.m-20 {
    margin: 20px;
}

.button {
    padding: 5px;
    color: white;
    background-color: rgba(255,255, 255, .2);
    border-radius: 5px;
    border: 0;
    margin-right: 5px;
}

body {
    background: black;
    color: white;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}


/* HEADER */
header {
    text-align: right;
}


main {
    flex-grow: 1;
    overflow: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;

}

.gallery li {
    width: 320px;
    margin: 5px;

}

.card {
    height: 150px;
    background-color: tomato;
    position: relative;
}

.card img {
    object-fit: cover;
    height: 100%;
    width: 100%;  
}

.card .nome {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
}

footer {
    display: flex;
    background-color: #222;
    justify-content: space-between;
    flex-direction: row;
}

.sinistra, .centrale {
    display: flex;
    list-style: none;
    padding: 5px;

}

.cont {
    text-align: center;
    margin: 0px 15px;

}

.cont .icon {
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
}

.verde {
    color: #4fc400;
}

.cont.freccina {
    display: flex;
    align-items: center;
}

.cont.freccina #freccia {
    margin-left: 10px;
}

.button.destra {
    color: rgb(223, 85, 85);
    padding: 0px 20px;
    border-radius: 0;
}